.container {
    max-width: 1200px;
    min-width: 310px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px #ccc;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.details .big-img {
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
}

.big-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-width: 320px;
    display: block;
    object-fit: cover;
}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 10px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box .row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .row span {
    color: crimson;
}


.box p {
    line-height: 1.5;
    margin: 15px 0;
}
.containerCounter {
    display: flex;
    justify-content: space-between;
    width:100% ;
    background-color: white;
    border-radius: .5rem;
    border:solid 1px #ccc;
    padding: 1rem;
}
.button {
    padding: 3px;
    border-style: none;
    background-color: white;
    color: black;
    font-weight: bolder;
    
}
.button:hover {
    padding: 3px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    color: black;

}
.buttonAddToCard {
    margin-top: 15px;
    width: 100%;
    height: 55px;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #6573c3;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
.buttonAddToCard:hover {
background-color: rgb(204, 224, 241);
color: #6573c3;
border: solid 1px #6573c3; 
transition: all ease ease-in 5ms;
}
@media (max-width: 500px) {
    img {
        width: 200px;
        height: 100px;
    }
}
@media (max-width: 650px) {
    img {
        width: 200px;
        height: 200px;
    }
        .container {
            
            
            margin: 50px auto;
            
        }
}

@media (max-width: 1920px) {
    img {
        width: 400px;
        height: 300px;
    }
}